$primary-color: #2E3192;
$primary-gradient-color: linear-gradient(90deg, #0C1080 -8.92%, #4E52CD 105.87%);
$primary-gradient-hover-color: linear-gradient(270deg, #5B60EC 1.43%, #1519B0 100%);
$secondary-color: #FDB813;
$secondary-gradient-color: linear-gradient(267.57deg, #FFCB6C 6.01%, #FFA400 95.58%);
$gray-gradient-color: linear-gradient(90deg, #ACABAB 5.43%, #C1C1C1 91.52%);
